In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
iris=sns.load_dataset('iris')
tips=sns.load_dataset('tips')

#1. Group by
* iris 데이터 사례

In [4]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [5]:
iris.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

* 각 품종별 features

In [6]:
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [7]:
iris.groupby('species').first()   #그룹 내 non-NA 값 중 첫번째 값

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.1          3.5           1.4          0.2
versicolor           7.0          3.2           4.7          1.4
virginica            6.3          3.3           6.0          2.5

* 각 품종별 sepal_length의 표준편차

In [8]:
iris.groupby('species').std()['sepal_length']

species
setosa        0.352490
versicolor    0.516171
virginica     0.635880
Name: sepal_length, dtype: float64

In [10]:
iris[['sepal_length','species']].groupby('species').std()

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

* 그룹 연산을 여러가지 할 경우
* 각 품종별 sepal_length의 평균,표준편차,최대값,최소값

In [11]:
iris.groupby('species')['sepal_length'].agg(['mean','std','min','max']) #agg=aggregate

             mean       std  min  max
species
setosa      5.006  0.352490  4.3  5.8
versicolor  5.936  0.516171  4.9  7.0
virginica   6.588  0.635880  4.9  7.9

In [12]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
tips['tip_pct']=(tips.tip/tips.total_bill*100).round(2)  #팁을 받은 퍼센티지
tips.tail(3)

     total_bill   tip     sex smoker   day    time  size  tip_pct
241       22.67  2.00    Male    Yes   Sat  Dinner     2     8.82
242       17.82  1.75    Male     No   Sat  Dinner     2     9.82
243       18.78  3.00  Female     No  Thur  Dinner     2    15.97

In [15]:
tips.describe()

       total_bill         tip        size     tip_pct
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672   16.079754
std      8.902412    1.383638    0.951100    6.107020
min      3.070000    1.000000    1.000000    3.560000
25%     13.347500    2.000000    2.000000   12.910000
50%     17.795000    2.900000    2.000000   15.475000
75%     24.127500    3.562500    3.000000   19.147500
max     50.810000   10.000000    6.000000   71.030000

* 성별 데이터 갯수

In [16]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Male           157  157     157  157   157   157      157
Female          87   87      87   87    87    87       87

In [17]:
tips.groupby('sex').size()

sex
Male      157
Female     87
dtype: int64

* 성별,흡연 유무에 따른 데이터 개수

In [18]:
tips.groupby(['sex','smoker']).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [19]:
#남성,흡연자수 
#tips.groupby(['sex','smoker']).size()['Male']['Yes']
#tips.groupby(['sex','smoker']).size()[('Male','Yes')]
tips.groupby(['sex','smoker']).size()['Male','Yes']

60

In [28]:
arr=[10]
if(len(arr)==0):
  arr.append(-1)
arr.remove(min(arr))
if(len(arr)==0):
  arr.append(-1)
arr

[-1]

* 성별 팁 비율의 평균,최대,최소

In [30]:
tips.groupby('sex')['tip_pct'].agg(['mean','max','min'])

             mean    max   min
sex
Male    15.764713  71.03  3.56
Female  16.648276  41.67  5.64

In [32]:
#흡연 유무에 따른 비율의 평균
tips.groupby('smoker')['tip_pct'].mean()

smoker
Yes    16.319140
No     15.932318
Name: tip_pct, dtype: float64

In [33]:
#데이터 프레임으로 변환하고자 하는경우
tips.groupby('smoker')[['tip_pct']].mean()

          tip_pct
smoker
Yes     16.319140
No      15.932318

* 성별,흡연유무별 팁 비율 평균

In [35]:
tips.groupby(['sex','smoker'])[['tip_pct']].mean()

                 tip_pct
sex    smoker
Male   Yes     15.276667
       No      16.066598
Female Yes     18.214545
       No      15.691111

#2. Pivot table

In [37]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}

df=pd.DataFrame(data)
df.head()

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권

In [38]:
df.pivot_table('인구','도시','연도')

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [39]:
df.pivot_table('인구','도시','연도',margins=True,margins_name="평균")

연도       2005       2010       2015            평균
도시
부산  3512547.0  3393191.0  3448737.0  3.451492e+06
서울  9762546.0  9631482.0  9904312.0  9.766113e+06
인천        NaN   263203.0  2890451.0  1.576827e+06
평균  6637546.5  4429292.0  5414500.0  5.350809e+06

In [40]:
df.pivot_table('인구',index=['연도','도시'])

              인구
연도   도시
2005 부산  3512547
     서울  9762546
2010 부산  3393191
     서울  9631482
     인천   263203
2015 부산  3448737
     서울  9904312
     인천  2890451

In [41]:
tips.groupby(['sex','smoker']).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [43]:
tips.pivot_table('tip_pct','sex','smoker',aggfunc='count',margins=True,margins_name='계')

smoker  Yes   No    계
sex
Male     60   97  157
Female   33   54   87
계        93  151  244

In [44]:
tips.groupby('sex')[['tip_pct']].mean()

          tip_pct
sex
Male    15.764713
Female  16.648276

In [45]:
tips.pivot_table('tip_pct','sex')

          tip_pct
sex
Male    15.764713
Female  16.648276

In [53]:
# 흡연 유무에 따른 평균 팁 비율과 최대 최소
tips.groupby('smoker')['tip_pct'].agg(['mean','max','min'])

             mean    max   min
smoker
Yes     16.319140  71.03  3.56
No      15.932318  29.20  5.68

In [55]:
tips.pivot_table('tip_pct','smoker',aggfunc=['mean','max','min'])

             mean     max     min
          tip_pct tip_pct tip_pct
smoker
Yes     16.319140   71.03    3.56
No      15.932318   29.20    5.68

In [56]:
tips.pivot_table('tip_pct','sex','smoker',aggfunc='count',margins=True,margins_name='계')

smoker  Yes   No    계
sex
Male     60   97  157
Female   33   54   87
계        93  151  244

In [57]:
#성별,흡연유무에 따른 평균 팁 비율
tips.pivot_table('tip_pct',['sex','smoker'])

                 tip_pct
sex    smoker
Male   Yes     15.276667
       No      16.066598
Female Yes     18.214545
       No      15.691111

In [58]:
tips.pivot_table('tip_pct','sex','smoker')

smoker        Yes         No
sex
Male    15.276667  16.066598
Female  18.214545  15.691111