In [1]:
import numpy as np
import pandas as pd

##Pandas-Series

In [2]:
pop=[9904312, 3448737, 2890451, 2466052]  #서울,부산,인천,대구
pop[0], pop[2]

(9904312, 2890451)

In [3]:
metro=pd.Series(pop,index=['서울', '부산', '인천', '대구'])  #인덱스 지정 
metro

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
metro[0], metro['서울']

(9904312, 9904312)

In [6]:
#여러개 값을 가져올 경우
metro[[0,1]]

서울    9904312
부산    3448737
dtype: int64

In [7]:
metro[['서울', '부산']]

서울    9904312
부산    3448737
dtype: int64

In [8]:
#metro 데이터 타입
metro.values
type(metro.values)

numpy.ndarray

In [12]:
a=np.random.randint(1,7,10)
type(a)

numpy.ndarray

In [16]:
dice = pd.Series(np.random.randint(1,7,10))
type(dice)

pandas.core.series.Series

In [17]:
print(dice)

0    6
1    3
2    2
3    3
4    4
5    3
6    3
7    4
8    1
9    1
dtype: int64

In [18]:
#시리즈 데이터는 넘파이 어레이 형식이므로 수식을 바로 적용이 가능하다
metro / 1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [19]:
dice * 100

0    600
1    300
2    200
3    300
4    400
5    300
6    300
7    400
8    100
9    100
dtype: int64

##시리즈와 딕셔너리

In [20]:
#딕셔너리의 키 시리즈의 인덱스가 된다 
city={"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}
metro2=pd.Series(city)
metro2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [22]:
for k,v in metro2.items(): #딕셔너리 뺄때 items()로 뺀다
  print(k,v)

서울 9631482
부산 3393191
인천 2632035
대전 1490158

In [25]:
metro-metro2   #공통적인 부분은 계산이된다

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [27]:
a=np.array([np.inf,np.nan,0,1,2])   #inf 무한대의 숫자,  nan 없는숫자
a

array([inf, nan,  0.,  1.,  2.])

##속성

In [28]:
metro.values

array([9904312, 3448737, 2890451, 2466052])

In [29]:
metro.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [30]:
metro

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [31]:
metro.name='광역시'
metro

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 광역시, dtype: int64

#Method

* count
*unique
*nuunique
*value_counts

In [40]:
dice

0    6
1    3
2    2
3    3
4    4
5    3
6    3
7    4
8    1
9    1
dtype: int64

In [33]:
dice.count()

10

In [34]:
dice.unique()  #중복제거 고유값 출력

array([6, 3, 2, 4, 1])

In [38]:
#unique의 갯수
dice.nunique()

5

In [39]:
dice.value_counts()  #고유한 값 별로 갯수를 출력

3    4
4    2
1    2
6    1
2    1
dtype: int64

sum() min() max() mean()

In [41]:
dice.sum() ,dice.min(), dice.max(), dice.mean()  # 합 최소 최대 평균

(30, 1, 6, 3.0)

In [42]:
metro.mean()

4677388.0

In [44]:
metro.describe()  #통계값 요약

count    4.000000e+00
mean     4.677388e+06
std      3.507776e+06
min      2.466052e+06
25%      2.784351e+06
50%      3.169594e+06
75%      5.062631e+06
max      9.904312e+06
Name: 광역시, dtype: float64

count    4.000000e+00
mean     4.677388e+06
std      3.507776e+06
min      2.466052e+06
25%      2.784351e+06
50%      3.169594e+06
75%      5.062631e+06
max      9.904312e+06
Name: 광역시, dtype: float64

sorting : sort_values, sort_index

In [45]:
metro

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 광역시, dtype: int64

In [47]:
metro.sort_values()  #오름차순으로 정렬

대구    2466052
인천    2890451
부산    3448737
서울    9904312
Name: 광역시, dtype: int64

In [48]:
metro.sort_values(ascending=False) #내림차순으로 정렬 ,default가 오름차순이기 때문에

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 광역시, dtype: int64

In [49]:
metro.sort_values()[::-1] #내림차순2

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 광역시, dtype: int64

In [51]:
metro.sort_index(ascending=False)

인천    2890451
서울    9904312
부산    3448737
대구    2466052
Name: 광역시, dtype: int64

* 결측치(NA,NaN,Null)처리 
isna,fillna,dropna

In [52]:
dm=metro-metro2
dm

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [53]:
dm.isna()  #결측치가 있는지 확인

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [54]:
dm.isnull()  #isna와 같음

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [56]:
dm.isna().sum(),dm.isnull().sum() #결측치의 갯수

(2, 2)

In [58]:
dm.fillna(dm.mean())  #평균값으로 채움

대구    195597.333333
대전    195597.333333
부산     55546.000000
서울    272830.000000
인천    258416.000000
dtype: float64

In [59]:
dm.fillna(dm.median())  #중앙값으로 채움

대구    258416.0
대전    258416.0
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [60]:
#결측치를 0으로 대체하고 정수형으로 변경
dm.fillna(0).astype(int)

대구         0
대전         0
부산     55546
서울    272830
인천    258416
dtype: int64

In [62]:
dm.dropna()

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

inplace option

In [63]:
dm2=dm.dropna()  #값이 null이 들어있으면 삭제
dm2

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [64]:
dm.dropna(inplace=True)
dm

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [67]:
import seaborn as sns  #시각화 패키지
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [68]:
titanic.head()   #인덱스5개(default)만 출력

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [69]:
age=titanic['age']
age.isna().sum()    #결측치의 갯수

177

In [70]:
age.count()

714